<header class="header">
  <!--user-block-->
  <div class="user-block">
    <div class="dropdown">

      <div class=" user-block__menu" *ngIf="!user; else userBlock">
        <span>Welcome,
          <a class="link" routerLink="/login" [queryParams]="{form: 'signIn'}">login</a> or
          <a class="link" routerLink="/login" [queryParams]="{form: 'signUp'}">register</a>
          for start!</span>
      </div>
      <ng-template #userBlock>
        <div class="dropdown__btn user-block__menu">
                <span class="user-block__user">
                  <app-avatar class="user-block__avatar" [user]="user"></app-avatar>
                  <app-user-name [user]="user"></app-user-name>
                </span>
          <a class="link text_white-color" (click)="onLogOut()"><i class="fa fa-sign-out"></i></a>
        </div>
        <div class="dropdown__submenu user-block__submenu">
          <button class="btn" routerLink="/products/add">Add new post</button>
          <button class="btn" routerLink="/profile">Profile</button>
        </div>
      </ng-template>
    </div>
    <!--cart-->
    <div class="dropdown">
      <div class="dropdown__btn user-block__menu" routerLink="/cart">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <app-cart class="dropdown__submenu header__cart__submenu">
      </app-cart>
    </div>
  </div>
  <!--logo-->
  <a routerLink="/products">
    <img src="/assets/img/sell-it.png" height="41" width="116" class="logo"/>
  </a>
  <!--input-text-->
  <div class="input-text input-text-search">
    <button class="input-text__button"><i class="fa fa-search"></i></button>
    <input type="text" class="input-text__input" required placeholder="Try find somethlink">
    <div class="input-text__focus-line"></div>
  </div>
</header>
