<header class="header">
  <!--user-block-->
  <div class="dropdown user-block">
    <div class="dropdown__btn user-block__menu">
                <span class="user-block__user">
                <img class="user-block__avatar" src="../../assets/img/user1_40_40.png" alt="Kim Evans"/>
                Kim Evans
                </span>
      <a><i class="fa fa-sign-out"></i></a>
    </div>
    <div class="dropdown__submenu user-block__submenu">
      <button class="btn">Add new post</button>
      <button class="btn">Profile</button>
    </div>
  </div>
  <!--logo-->
  <img src="../../assets/img/sell-it.png" height="41" width="116" class="logo"/>
  <!--input-text-->
  <div class="input-text input-text-search">
    <button class="input-text__button"><i class="fa fa-search"></i></button>
    <input type="text" class="input-text__input" required placeholder="Try find somethlink">
    <div class="input-text__focus-line"></div>
  </div>
</header>
