<script src="login-page.component.ts"></script>
<div class="login-left-section-image">

  <div>
    <img src="/assets/img/login-left-section-image.jpg" class="login-left-section-image__img"/>
  </div>

  <div class="login-right-section">
    <div>
      <!--logo-->
      <div class="login-logo _margin-top-5_2rem">
        <a routerLink="/products">
          <img src="/assets/img/sell-it_invert.png" height="69" width="198"/>
        </a>
      </div>

      <div class="btn-group _margin-top-7_5rem">
        <!--signIn button-->
        <button class="btn" (click)="changeForm('signIn')">Sign in</button>
        <!--signUp button-->
        <button class="btn" (click)="changeForm('signUp')">Sign up</button>
      </div>

      <!--Auth Forms-->
      <div class="_margin-top-2_5rem" [ngSwitch]="currentForm">
        <!--signIn-->
        <app-dynamic-form *ngSwitchCase="'signIn'"
                          [props]="props"
                          (submitted)="onSignIn($event)">
        </app-dynamic-form>
        <!--signUp-->
        <app-dynamic-form *ngSwitchCase="'signUp'"
                          [props]="props"
                          (submitted)="onSignUp($event)">
        </app-dynamic-form>
        <!--resetPassword-->
        <app-dynamic-form *ngSwitchCase="'resetPassword'"
                          [props]="props"
                          (submitted)="onResetPassword($event)">
        </app-dynamic-form>
        <!--resetConfirm-->
        <app-dynamic-form *ngSwitchCase="'resetConfirm'"
                          [props]="props"
                          (submitted)="onResetConfirm($event)">
        </app-dynamic-form>
      </div>

      <!--messages-->
      <app-messages></app-messages>

      <div class="btn-group _margin-top-2_5rem">
        <!--Google Auth button-->
        <button class="btn _full-width" (click)="onAuthGoogle()"><i class="fa fa-google"></i></button>
        <!--resetPassword button-->
        <button class="btn" (click)="changeForm('resetPassword')">Forgot Password?</button>
      </div>

    </div>
    <div class="login-right-section_bottom-text">2017 - front-end labs Light IT</div>
  </div>
</div>
