<app-header></app-header>
<section class="content content_full-with">

  <div class="product-list">

    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product1.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product2.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product3.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product4.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>

    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product1.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product2.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product3.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product4.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>

    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product1.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product2.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product3.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product4.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>

    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product1.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product2.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product3.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product4.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>

    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product1.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product2.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product3.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product4.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>

    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product1.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product2.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product3.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>
    <!--item-->
    <div class="product-item">
      <a class="product-item__url">
        <img src="../../assets/img/product4.jpg" alt="" class="product-item__img">
        <div class="product-item__title">
          <span class="">Product title</span>
          <span class="text_white-color">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
        </div>
      </a>
    </div>


  </div>

</section>
<app-footer></app-footer>
