<app-header></app-header>
<section class="content">
  <p><a href="" [routerLink]="'/products/' + product.pk">&lt; Back to detail</a></p>
  <h1>Edit Product</h1>
  <app-messages></app-messages>
  <label class="input-text__label">Images</label>
  <app-images-uploader [productId]="product.pk"></app-images-uploader>
  <app-dynamic-form [props]="props"
                    [data]="product"
                    (submitted)="onUpdateProduct($event)">
  </app-dynamic-form>
  <button class="btn _full-width" (click)="onDeleteProduct()">Delete Product</button>
</section>
<app-footer></app-footer>
