<form [formGroup]="productForm" (ngSubmit)="onAdd()">
  <!--theme-->
  <label class="input-text__label">Theme</label>
  <div class="input-text">
    <input formControlName="theme"
           type="text"
           class="input-text__input "
           [class.alert-danger-text]="productForm.get('theme').errors && productForm.get('theme').dirty"
           placeholder="Theme">
    <div class="input-text__focus-line"></div>
  </div>
  <app-form-control-errors
    *ngIf="productForm.get('theme').errors && productForm.get('theme').dirty"
    [errors]="productForm.get('theme').errors"
    [title]="'Theme'">
  </app-form-control-errors>

  <!--text-->
  <label class="input-text__label">Text</label>
  <textarea class="input-text input-text__textarea" formControlName="text"
            cols="100"
            [class.alert-danger-text]="productForm.get('text').errors && productForm.get('text').dirty"
            placeholder="Text">
    </textarea>
  <app-form-control-errors
    *ngIf="productForm.get('text').errors && productForm.get('text').dirty"
    [errors]="productForm.get('text').errors"
    [title]="'Text'">
  </app-form-control-errors>

  <!--price-->
  <label class="input-text__label">Price</label>
  <div class="input-text">
    <input formControlName="price"
           type="number"
           class="input-text__input "
           [class.alert-danger-text]="productForm.get('price').errors && productForm.get('price').dirty"
           placeholder="Price">
    <div class="input-text__focus-line"></div>
  </div>
  <app-form-control-errors
    *ngIf="productForm.get('price').errors && productForm.get('price').dirty"
    [errors]="productForm.get('price').errors"
    [title]="'Price'">
  </app-form-control-errors>

  <!--currency-->
  <label class="input-text__label">Currency</label>
  <div class="input-text">
    <input formControlName="currency"
           type="number"
           class="input-text__input "
           [class.alert-danger-text]="productForm.get('currency').errors && productForm.get('currency').dirty"
           placeholder="Currency">
    <div class="input-text__focus-line"></div>
  </div>
  <app-form-control-errors
    *ngIf="productForm.get('currency').errors && productForm.get('currency').dirty"
    [errors]="productForm.get('currency').errors"
    [title]="'Currency'">
  </app-form-control-errors>

  <!--contract_price-->
  <label class="input-text__label">Contract Price</label>
  <input class="input-text" formControlName="contract_price"
         type="checkbox">
  <app-form-control-errors
    *ngIf="productForm.get('contract_price').errors && productForm.get('contract_price').dirty"
    [errors]="productForm.get('contract_price').errors"
    [title]="'Contract Price'">
  </app-form-control-errors>

  <div formGroupName="location">
    <!--Country-->
    <label class="input-text__label">Country</label>
    <div class="input-text">
      <input formControlName="country"
             type="text"
             class="input-text__input"
             [class.alert-danger-text]="productForm.get('location.country').errors && productForm.get('location.country').dirty"
             placeholder="Country">
      <div class="input-text__focus-line"></div>
    </div>
    <app-form-control-errors
      *ngIf="productForm.get('location.country').errors && productForm.get('location.country').dirty"
      [errors]="productForm.get('location.country').errors"
      [title]="'Country'">
    </app-form-control-errors>

    <!--zone-->
    <label class="input-text__label">Zone</label>
    <div class="input-text">
      <input formControlName="zone"
             type="text"
             class="input-text__input "
             [class.alert-danger-text]="productForm.get('location.zone').errors && productForm.get('location.zone').dirty"
             placeholder="Zone">
      <div class="input-text__focus-line"></div>
    </div>
    <app-form-control-errors
      *ngIf="productForm.get('location.zone').errors && productForm.get('location.zone').dirty"
      [errors]="productForm.get('location.zone').errors"
      [title]="'Zone'">
    </app-form-control-errors>

    <!--city-->
    <label class="input-text__label">City</label>
    <div class="input-text">
      <input formControlName="city"
             type="text"
             class="input-text__input "
             [class.alert-danger-text]="productForm.get('location.city').errors && productForm.get('location.city').dirty"
             placeholder="City">
      <div class="input-text__focus-line"></div>
    </div>
    <app-form-control-errors
      *ngIf="productForm.get('location.city').errors && productForm.get('location.city').dirty"
      [errors]="productForm.get('location.city').errors"
      [title]="'City'">
    </app-form-control-errors>

    <!--address-->
    <label class="input-text__label">Address</label>
    <div class="input-text">
      <input formControlName="address"
             type="text"
             class="input-text__input "
             [class.alert-danger-text]="productForm.get('location.address').errors && productForm.get('location.address').dirty"
             placeholder="Address">
      <div class="input-text__focus-line"></div>
    </div>
    <app-form-control-errors
      *ngIf="productForm.get('location.address').errors && productForm.get('location.address').dirty"
      [errors]="productForm.get('location.address').errors"
      [title]="'Address'">
    </app-form-control-errors>

    <!--zipcode-->
    <label class="input-text__label">Zipcode</label>
    <div class="input-text">
      <input formControlName="zipcode"
             type="text"
             class="input-text__input "
             [class.alert-danger-text]="productForm.get('location.zipcode').errors && productForm.get('location.zipcode').dirty"
             placeholder="Zipcode ">
      <div class="input-text__focus-line"></div>
    </div>
    <app-form-control-errors
      *ngIf="productForm.get('location.zipcode').errors && productForm.get('location.zipcode').dirty"
      [errors]="productForm.get('location.zipcode').errors"
      [title]="'Zipcode'">
    </app-form-control-errors>
  </div>

  <!--is_active-->
  <label class="input-text__label">Active</label>
  <input class="input-text" formControlName="is_active"
         type="checkbox"
         placeholder="contract price">
  <app-form-control-errors
    *ngIf="productForm.get('is_active').errors && productForm.get('is_active').dirty"
    [errors]="productForm.get('is_active').errors"
    [title]="'Active'">
  </app-form-control-errors>

  <!--submit-->
  <button class="btn _full-width _margin-top-5_2rem">Add</button>

</form>
