<div [formGroup]="form">
  <div class="login-form form-group" [formGroupName]="prop.key">
    <ng-container
                  dynamic-form [props]="prop.conf"
                  [form]="form">
    </ng-container>
  </div>
</div>


<!--<div class="login-form form-group" dynamic-form [props]="props" [form]="form"></div>-->
<!--<ng-container #container></ng-container>-->

<!--<ng-container *ngComponentOutlet="HelloWorld"></ng-container>-->

<!--<ng-container *ngTemplateOutlet="label"></ng-container>-->
<!--<ng-container *ngTemplateOutlet="inpuText"></ng-container>-->
<!--<ng-container *ngTemplateOutlet="eng; context: myContect"></ng-container>-->
<!--<ng-container *ngTemplateOutlet="svk; context: myContect"></ng-container>-->
<!--<hr>-->
<!--<ng-template #greet><span>Hello</span></ng-template>-->
<!--<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>-->
<!--<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template>-->

<!--<div *ngFor="let prop of props">-->

<!--<div [ngSwitch]="prop.type"></div>-->
<!--<ng-container [ngSwitch]="prop.type">-->
<!--<ng-container *ngSwitchCase="'nested'">-->
<!--<app-dynamic-form [props]="prop.props"></app-dynamic-form>-->
<!--</ng-container>-->
<!--<ng-container *ngSwitchDefault>-->


<!--label-->
<!--<ng-container *ngIf="!prop.hideLabel && prop.type !== 'submit' && prop.type !== 'reset'">-->
<!--<ng-container #label>-->
<!--<label class="input-text__label"-->
<!--[attr.for]="prop">-->
<!--{{prop.label}}-->
<!--</label>-->
<!--</ng-container>-->

<!--<ng-template #greet><span>Hello</span></ng-template>-->

<!--&lt;!&ndash;input:  search, text, tel, email, password&ndash;&gt;-->
<!--<ng-container #inpuText>-->
<!--&lt;!&ndash;*ngIf="&ndash;&gt;-->
<!--&lt;!&ndash;prop.type === 'search' ||&ndash;&gt;-->
<!--&lt;!&ndash;prop.type === 'text' ||&ndash;&gt;-->
<!--&lt;!&ndash;prop.type ===  'tel' ||&ndash;&gt;-->
<!--&lt;!&ndash;prop.type ==='email' ||&ndash;&gt;-->
<!--&lt;!&ndash;prop.type === 'password'">&ndash;&gt;-->
<!--<div class="input-text">-->
<!--<input class="input-text__input"-->
<!--[formControlName]="prop.key"-->
<!--[id]=" prop.key"-->
<!--[type]="prop.type"-->
<!--[class.alert-danger-text]="form.get(prop.key).errors && form.get(prop.key).dirty"-->
<!--[placeholder]="prop.label">-->
<!--<div class="input-text__focus-line"></div>-->
<!--</ng-container>-->
<!--</div>-->
<!--&lt;!&ndash;input:  number, range, checkbox, radio&ndash;&gt;-->
<!--<ng-container *ngIf="-->
<!--prop.type === 'number' ||-->
<!--prop.type === 'range'||-->
<!--prop.type === 'checkbox' ||-->
<!--prop.type === 'radio'">-->
<!--<input class="input-text"-->
<!--[formControlName]="prop.key"-->
<!--[id]=" prop.key"-->
<!--[type]="prop.type"-->
<!--[class.alert-danger-text]="form.get(prop.key).errors && form.get(prop.key).dirty"-->
<!--[placeholder]="prop.label">-->
<!--</ng-container>-->

<!--&lt;!&ndash;textarea&ndash;&gt;-->
<!--<ng-container *ngIf="prop.type === 'textarea'">-->
<!--<textarea class="input-text input-text__textarea"-->
<!--cols="100"-->
<!--[formControlName]="prop.key"-->
<!--[class.alert-danger-text]="form.get(prop.key).errors && form.get(prop.key).dirty"-->
<!--[placeholder]="prop.label">-->
<!--</textarea>-->
<!--</ng-container>-->

<!--&lt;!&ndash;select&ndash;&gt;-->
<!--<ng-container *ngIf="prop.type === 'select'">-->
<!--<select [formControlName]="prop.key"-->
<!--(change)="prop.cascade($event.target.value)">-->
<!--<option *ngFor="let option of prop.options" [value]="option.value">-->
<!--{{ option.label }}-->
<!--</option>-->
<!--</select>-->
<!--</ng-container>-->

<!--submit-->
<!--<ng-container *ngIf="prop.type === 'submit'">-->
<!--<button class="btn _full-width" type="submit">submit</button>-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;reset&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<ng-container *ngIf="prop.type === 'reset'">&ndash;&gt;-->
<!--<button class="btn _full-width" type="reset">reset</button>-->
<!--</ng-container>-->

<!--&lt;!&ndash;errors&ndash;&gt;-->
<!--<ng-container *ngIf="-->
<!--prop.type !== 'submit' &&-->
<!--prop.type !== 'reset' &&-->
<!--form.get(prop.key).errors &&-->
<!--form.get(prop.key).dirty">-->
<!--<app-form-control-errors-->
<!--[errors]="form.get(prop.key).errors"-->
<!--[title]="prop.label">-->
<!--</app-form-control-errors>-->
<!--</ng-container>-->


<!--</ng-container>-->
<!--</ng-container>-->
<!--</div>-->

<!--<input *ngIf="prop.type === ('number' || 'search' || 'text') "-->
<!--[formControlName]="prop.key"-->
<!--[id]="prop.key" [type]="prop.type">-->

<!--<div [ngSwitch]="prop.type">-->
<!--<input *ngSwitchCase="'text'"-->
<!--[formControlName]="prop.key"-->
<!--[id]="prop.key" [type]="prop.type">-->

<!--<div *ngSwitchCase="'radio'">-->
<!--<label *ngFor="let option of prop.options">-->
<!--<input-->
<!--type="radio"-->
<!--[name]="prop.key"-->
<!--[formControlName]="prop.key"-->
<!--[value]="option.value"> {{option.label}}-->
<!--</label>-->
<!--</div>-->

<!--<div *ngSwitchCase="'select'">-->
<!--<select [formControlName]="prop.key" (change)="prop.cascade($event.target.value)">-->
<!--<option *ngFor="let option of prop.options; let index = i; trackBy: ti" [value]="option.value">-->
<!--{{ option.label }}-->
<!--</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->

<!--<div class="error" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched)">-->
<!--<div *ngIf="form.get(prop.key).errors.required">-->
<!--{{ prop.label }} is required.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</form>-->
<!--<hr/>-->
<!--<strong>Form Value</strong>-->
<!--<pre>{{ form.value | json }}</pre>-->
<!--<strong>Form is valid:</strong> {{form.valid}}-->
<!--<pre>{{ form.errors | json }}</pre>-->
