<ng-container [formGroup]="form">
  <fieldset class="input-text__form-group" [formArrayName]="prop.key">
    <div class="form-group">
      <fieldset class="input-text__form-group" *ngFor="let control of formArray.controls; let i = index"
                [formGroupName]="i">
        <ng-container [formGroup]="control">
          <ng-container dynamic-form
                        [props]="prop.conf"
                        [form]="control">
          </ng-container>
        </ng-container>
        <button (click)="removeItem(i)">remove {{i}}</button>
      </fieldset>
    </div>
  </fieldset>
</ng-container>
