/* about ================================= */
.about {
  display: block;
  padding: 0.5rem;
  font-family: var(--font-family);
  grid-gap: 1rem;
  font-size: 1.28rem;

  @media (min-width: 600px) {

    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: max-content;
    grid-template-areas: "slideshow title" "slideshow description";
    grid-gap: 1rem;
    align-content: start;
  }

  &__title {
    grid-area: title;

  }

  &__main-title {
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 2.28rem;
    width: 70%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  &_slideshow {
    grid-area: slideshow;
  }

  &__price {
    font-size: 2.28rem;
    color: var(--green-color);
    margin-left: 1.2rem;
  }

  &__description {
    grid-area: description;
    padding-top: 1rem;
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0 2rem;
    list-style: none;
  }

  &__list li:before {
    content: '- ';
  }
}

.no-login{
  font-family: var(--font-family);
  color: var(--content-color);
  font-size: 2.28rem;
  font-weight: bold;
}

.edit-btn{
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
}
