/* content ================================= */
.content {
  margin: 0 auto;
  max-width: 950px;
  padding-top: 150px;

  &_full-width {
    max-width: none;
  }

  @media(max-width: 960px) {

    padding-top: 50px;
  }
}
