<!--slideshow-->
<div class="slideshow">

  <div class="slideshow__slide slideshow__slide_fade">
    <img src="../../assets/img/post1.jpg">
  </div>

  <div class="slideshow__slide slideshow__slide_fade">
    <img src="../../assets/img/post2.jpg">
  </div>

  <div class="slideshow__slide slideshow__slide_fade">
    <img src="../../assets/img/post3.jpg">
  </div>

  <a class="slideshow__btn" onclick=""><i class="fa fa-long-arrow-left"></i></a>
  <a class="slideshow__btn slideshow__btn_next" onclick=""><i
    class="fa fa-long-arrow-right"></i></a>
</div>
