.btn-on-top {
  position: fixed;
  z-index: 77;
  bottom: 5rem;
  right: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  background-color: var(--theme-color);
  color: var(--sub-theme-color);
  outline: none;

  &:hover {
    background-color: var(--green-color);
  }
}
