<div>
  <img *ngFor="let image of images; let i = index" [src]="image" (click)="deleteImg(i)" width="100" height="100">
</div>
<div [formGroup]="form">
  <input type="file"
           [formControlName]="prop.key"
           (change)="onFileChange($event)"
            multiple
           #fileInput>
    <!--<button type="button" class="btn" (click)="clearFile()">clear file</button>-->
  <!--<button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>-->
</div>



<!--<pre>{{form.value | json}}</pre>-->
