<div class="images-loader" >
  <div class="images-loader__item _uploaded" *ngFor="let image of uploadedImages; let i = index">
    <img [src]="image.file">
    <button class="images-loader__btn text_red-color" (click)="deleteRestImg(i, image)">
      <i class="fa fa-remove"></i>
    </button>
  </div>

  <div class="images-loader__item" *ngFor="let image of newImages; let i = index">
    <img [src]="image">
    <button class="images-loader__btn text_red-color" (click)="deleteNewImage(i)">
      <i class="fa fa-remove"></i>
    </button>
    <button class="images-loader__btn text_green-color" (click)="uploadImage(i, image)">
      <i class="fa fa-upload"></i>
    </button>
  </div>

  <div class="images-loader__item">
    <label class="images-loader__label">
      <i class="fa fa-plus"></i>
  <input class="images-loader__input"
         type="file"
         (change)="onFileChange($event)"
         multiple
         #fileInput>
    </label>
  </div>

  <button class="btn _full-width" (click)="uploadImages()">Upload all</button>
</div>

<!--<button type="button" class="btn" (click)="clearFile()">clearError file</button>-->
<!--<button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>-->


<!--<pre>{{form.value | json}}</pre>-->
