<!--messages Error-->
<div *ngIf="messageService.messagesError.length" class="alert alert-danger _full-width">
  <!--button clear-->
  <span class="alert-clearbtn" (click)="messageService.clearError()">&times;</span>
  <!--list of messages-->
  <ol>
    <li *ngFor="let message of messageService.messagesError"> {{message}}</li>
  </ol>
</div>

<!--messages Warning-->
<div *ngIf="messageService.messagesWarning.length" class="alert alert-warning _full-width">
  <!--button clear-->
  <span class="alert-clearbtn" (click)="messageService.clearWarning()">&times;</span>
  <!--list of messages-->
  <ol>
    <li *ngFor="let message of messageService.messagesWarning"> {{message}}</li>
  </ol>
</div>

<!--messages Success-->
<div *ngIf="messageService.messagesSuccess.length" class="alert alert-success _full-width">
  <!--button clear-->
  <span class="alert-clearbtn" (click)="messageService.clearSuccess()">&times;</span>
  <!--list of messages-->
  <ol>
    <li *ngFor="let message of messageService.messagesSuccess"> {{message}}</li>
  </ol>
</div>
