<div class="cart__item">
  <img class="cart__img"
       [src]="data?.product?.images[0]?.file"
       [alt]="data?.product?.theme"
       [routerLink]="['/products/', data?.product?.pk]"
  >
  <div class="cart__title">
    {{data?.product?.theme}}
  </div>

  <div class="cart__price">
    {{data?.product?.price}}
  </div>
  <app-cart-product-controls
    class="cart__controls"
    [data]="data"
    (minusProduct)="setCart($event)"
    (plusProduct)="setCart($event)"
    (setProduct)="setCart($event)"
    (removeProduct)="removeProduct($event)">
  </app-cart-product-controls>
</div>
