/* photo-slider ================================= */

.slideshow {
  /*max-width: 600px;*/
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0;

  &__slide {

    img {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    color: black;
    transition: 0.6s ease;
  }

  &__btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &__btn_next {
    right: 0;
  }

  &__btn_active {
    background-color: #717171;
  }

  /* Fading animation */
  &__slide_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* about ================================= */
.about {
  display: block;
  padding: 0.5rem;
  font-family: var(--font-family);
  grid-gap: 1rem;
  font-size: 1.28rem;

  @media (min-width: 600px) {

    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: auto;
    grid-template-areas: "slideshow title" "slideshow sub-title" "slideshow description";
    grid-gap: 1rem;
  }

  &__title {
    grid-area: title;
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 2.28rem;
  }

  &__sub-title {
    grid-area: sub-title;
  }

  &_slideshow {
    grid-area: slideshow;
  }

  &__price {
    font-size: 2.28rem;
    color: var(--green-color);
    margin-left: 1.2rem;
  }

  &__description {
    grid-area: description;
    padding-top: 1rem;
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0 2rem;
    list-style: none;
  }

  &__list li:before {
    content: '- ';
  }
}

/* contact-list  ================================= */
.contact-list {
  padding: 0;

  &__title-status {
    font-family: var(--font-family);
    font-size: 1.28rem;
    font-weight: bold;
  }

  &__list {
    /* display: flex; */
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 6px;
    font-family: var(--font-family);
    font-size: 1.14rem;
    font-weight: bold;
  }

  &-item:hover {
    background-color: rgba(240, 240, 240, 0.8);
  }

  &__avatar {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}

/* chat ================================= */
.chat {
  display: block;
  padding: 0.5rem;

  @media(min-width: 600px) {

    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: auto;
    grid-template-areas: "title title" "messages contact-list" "input-text contact-list";
    grid-gap: 1rem;

    .contact-list__dropdown__btn {
      display: none;
    }

    .contact-list__list {
      display: flex;
    }
  }

&__title {
  grid-area: title;
}

  &__input-text {
    grid-area: input-text;
  }

  &__contact-list {
    grid-area: contact-list;
  }

  &__messages {
    grid-area: messages;

    display: flex;
    flex-flow: row wrap; /* fix troubles with overflow when too much messages*/
    align-items: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 240px;
    overflow: auto;
  }

  &__message-line {
    flex-basis: 100%; /*fix troubles with overflow when too much messages*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 0;
    font-family: var(--font-family);
    font-size: 1rem;
  }

  &__message_multi-line {
    align-items: stretch;
  }

  &__message_own {
    flex-direction: row-reverse;
  }

  &__message-avatar {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__message-text {
    max-width: 402px;
    margin: 0 5px;
  }

  /*vertical line for messages*/
  &__message-line::after {
    content: "";
    min-height: var(--font-size);
    width: 5px;
    background: var(--theme-color);
  }
}

