<app-header></app-header>

<section class="content">
  <app-messages></app-messages>
  <!--about-->
  <div class="about">
    <!--about__title-->
    <p class="about__title">{{product?.theme}}</p>
    <p class="about__sub-title text_bold">from
      <span class="_main-color">{{product?.owner?.first_name}} {{product?.owner?.last_name}}</span>
      <span class="about__price">{{product?.price}}$</span>
    </p>
    <!--about__slideshow-->
    <app-slideshow class="about_slideshow" [images] = "product?.images"></app-slideshow>
    <!--about__description-->

    <div class="about__description">
      <span>{{product?.text}}</span>
    </div>
  </div>


        <span class="text_big_size" *ngIf="!user; else chat">Welcome,
          <a class="link" routerLink="/login">login</a> or
          <a class="link" routerLink="/login" [queryParams]="{isSignUp: true}" >register</a>
          for start!</span>
  <ng-template #chat>
  <app-chat #chat [user] = "user" [owner]= "product?.owner"></app-chat>
    </ng-template>
</section>

<app-footer></app-footer>
