<app-header></app-header>

<section class="content">
  <!--about-->
  <div class="about">
    <!--about__title-->
    <p class="about__title">{{product?.theme}}</p>
    <p class="about__sub-title text_bold">from
      <span class="_main-color">{{product?.owner?.first_name}} {{product?.owner?.last_name}}</span>
      <span class="about__price">{{product?.price}}$</span>
    </p>
    <!--about__slideshow-->
    <app-slideshow class="about_slideshow" [images] = "product?.images"></app-slideshow>
    <!--about__description-->
    <div class="about__description">
      <span>{{product?.text}}</span>
    </div>
  </div>

  <app-chat [user] = "user" [owner]= "product?.owner"></app-chat>

</section>

<app-footer></app-footer>
