/* about ================================= */
.about {
  display: block;
  padding: 0.5rem;
  font-family: var(--font-family);
  grid-gap: 1rem;
  font-size: 1.28rem;

  @media (min-width: 600px) {

    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: auto;
    grid-template-areas: "slideshow title" "slideshow sub-title" "slideshow description";
    grid-gap: 1rem;
  }

  &__title {
    grid-area: title;
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 2.28rem;
  }

  &__sub-title {
    grid-area: sub-title;
  }

  &_slideshow {
    grid-area: slideshow;
  }

  &__price {
    font-size: 2.28rem;
    color: var(--green-color);
    margin-left: 1.2rem;
  }

  &__description {
    grid-area: description;
    padding-top: 1rem;
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0 2rem;
    list-style: none;
  }

  &__list li:before {
    content: '- ';
  }
}
