
/* contact-list  ================================= */
.contact-list {
  padding: 0;

&__title-status {
   font-family: var(--font-family);
   font-size: 1.28rem;
   font-weight: bold;
 }

&__list {
   /* display: flex; */
   flex-direction: column;
   overflow-y: auto;
   padding: 0;
   margin: 0;
 }

&-item {
   display: flex;
   align-items: center;
   padding: 6px;
   font-family: var(--font-family);
   font-size: 1.14rem;
   font-weight: bold;
 }

&-item:hover {
   background-color: rgba(240, 240, 240, 0.8);
 }

&__avatar {
   margin-right: 10px;
   width: 44px;
   height: 44px;
   border-radius: 50%;
 }
}

/* chat ================================= */
.chat {
  display: block;
  padding: 0.5rem;

@media(min-width: 600px) {

  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: auto;
  grid-template-areas: "title title" "messages contact-list" "input-text contact-list";
  grid-gap: 1rem;

  .contact-list__dropdown__btn {
    display: none;
  }

  .contact-list__list {
    display: flex;
  }
}

&__title {
   grid-area: title;
 }

&__input-text {
   grid-area: input-text;
 }

&__contact-list {
   grid-area: contact-list;
 }

&__messages {
   grid-area: messages;

   display: flex;
   flex-flow: row wrap; /* fix troubles with overflow when too much messages*/
   align-items: flex-end;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height: 240px;
   overflow: auto;
 }

&__message-line {
   flex-basis: 100%; /*fix troubles with overflow when too much messages*/
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
   align-items: center;
   margin: 16px 0;
   font-family: var(--font-family);
   font-size: 1rem;
 }

&__message_multi-line {
   align-items: stretch;
 }

&__message_own {
   flex-direction: row-reverse;
 }

&__message-avatar {
   margin-right: 10px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
 }

&__message-text {
   max-width: 402px;
   margin: 0 5px;
 }

/*vertical line for messages*/
&__message-line::after {
   content: "";
   min-height: var(--font-size);
   width: 5px;
   background: var(--theme-color);
 }
}

