<!--item-->
<div class="product-item" *ngIf="product?.is_active">
  <a class="product-item__url" >
    <img [src]="product?.images[0]?.file" [alt]="product?.theme" class="product-item__img" [routerLink]="product.pk">
    <div class="product-item__title">
      <span class="">{{ product?.theme }}</span>

      <!--edit icon-->
      <span *ngIf="isOwner; else readOnly"
            class="text_white-color">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </span>
      <!--read only icon-->
      <ng-template #readOnly>
      <span class="text_white-color" (click)="clickAddProduct()">
        <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
        <i class="fa fa-cart-plus" aria-hidden="true"></i>
      </span>
      </ng-template>

    </div>
  </a>
</div>
