<div class="input-text" [formGroup]="form">
  <select [formControlName]="prop.key">
          <!--(change)="prop.cascade($event.target.value)"-->
    <option *ngFor="let option of prop.options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
</div>

<!--errors-->
<ng-container *ngIf="!prop.hideErrors && form.get(prop.key).errors && form.get(prop.key).dirty">
  <app-form-control-errors
    [errors]="form.get(prop.key).errors"
    [title]="prop.label">
  </app-form-control-errors>
</ng-container>

