<app-header></app-header>
<div class="add-product-container">
  <h1 class="add-product-container__name">Edit Profile</h1>
  <!--<form [formGroup]="avatarForm" (ngSubmit)="changeAvatar()" #fileInput>-->
    <!--<div class="form-block">-->
      <!--<input  type="file" formControlName="avatar" (change)="imgChange($event)">-->
    <!--<button type="submit" class="button button_submit form-block__button">Save</button>-->
  <!--</form>-->
  <br>
  <br>
  <base64-upload></base64-upload>
</div>
<app-footer class="text_lg"></app-footer>
